{
  "extends": "./node_modules/@stackr23/config-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    // conflicts between webpack- and node- resolver
    "node/no-missing-import": 0,
    "node/no-unpublished-import": 0
  }
}
