{
  "branches": [
    "master",
    "main"
  ],
  "repositoryUrl": "https://github.com/stackr23/webpack",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "@stackr23/preset-conventional-changelog",
        "parserOpts": {
          "releaseRules": [
            {
              "type": "feat",
              "release": "minor"
            },
            {
              "type": "fix",
              "release": "patch"
            },
            {
              "type": "config",
              "release": "patch"
            },
            {
              "type": "script",
              "release": "patch"
            },
            {
              "type": "style",
              "release": "patch"
            },
            {
              "type": "deps",
              "release": "patch"
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "@stackr23/preset-conventional-changelog"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog\n\n> generated with [@semantic-release/changelog](https://github.com/semantic-release/changelog)\n\n"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "releases"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ],
        "message": "chore(release): 🤖🔖🚀 v${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
